<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-7xl lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      >
        Together, we can create a digital experience that converts visitors into
        loyal customers, leaving a lasting impression on your audience.
      </p>
    </div>
  </div>
</section>
