<section class="bg-primary">
  <div class="mx-auto px-8 lg:pl-48 lg:pr-16 2xl:max-w-7xl">
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 text-secondary lg:grid-cols-4 items-start mt-4 gap-x-8 max-w-md mx-auto md:max-w-none md:mx-0"
      role="list"
    >
      <li class="flow-root h-full">
        <div class="h-full w-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-32 lg:-translate-x-20 lg:mb-8 xl:mb-0 lg:pb-8"
            >
              01.
            </p>
            <p class="italic text-xl font-bold">Define</p>
            <p class="text-xl mt-3 pr-4">a dataset representative of human sentiment.</p>
          </div>
        </div>
      </li>

      <li class="flow-root h-full">
        <div class="h-full w-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-32 lg:-translate-x-20 lg:mb-8 xl:mb-0 lg:pb-8"
            >
              02.
            </p>
            <p class="italic text-xl font-bold">Deduce</p>
            <p class="text-xl mt-3 pr-4">mappings from <em>sentiment space</em> to <em>price space</em>.</p>
          </div>
        </div>
      </li>

      <li class="flow-root h-full">
        <div class="h-full w-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-32 lg:-translate-x-20 lg:mb-8 xl:mb-0 lg:pb-8"
            >
              03.
            </p>
            <p class="italic text-xl font-bold">Decide</p>
            <p class="text-xl mt-3 pr-4">an allocation of capital where its growth potential is maximal.</p>
          </div>
        </div>
      </li>
      <li class="flow-root h-full">
        <div class="h-full w-full flex flex-col justify-between">
          <div>
            <p
              class="group-hover:text-secondary/70 text-secondary text-9xl font-black lg:rotate-90 xl:-translate-x-32 lg:-translate-x-20 lg:mb-8 xl:mb-0 lg:pb-8"
            >
              04.
            </p>
            <p class="italic text-xl font-bold">Maximize</p>
            <p class="text-xl mt-3 pr-4">human flourishing.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
